.invalid-input {
  background-color: red;
}

button {
  padding: 2px 15px;
  /* font-size: 1em; */
  margin: 0px 2px;

}

button:hover {
    transition: 0.5s;
    background-color: teal;
}

.bold {
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.growable-flex-item {
  flex-grow: 1;
}

.flex-item-gap {
  column-gap: 10px;
}