<div class="container">
    <div class="CoinsArea">
        <h2>Münzen</h2>
        <app-numeric-value-handler label="Gold" [minValue]="0" [maxValue]="99999999999" [showReset]="false" [(currentValue)]="player.valueables.coins.gold">
        </app-numeric-value-handler>
        <app-numeric-value-handler label="Silber" [minValue]="0" [maxValue]="99999999999" [showReset]="false" [(currentValue)]="player.valueables.coins.silver">
        </app-numeric-value-handler>
        <app-numeric-value-handler label="Kupfer" [minValue]="0" [maxValue]="99999999999" [showReset]="false"[(currentValue)]="player.valueables.coins.copper">
        </app-numeric-value-handler>
    </div>
    <div class="JewelArea">
        <h2>Edelsteine</h2>
        <app-numeric-value-handler label="50er" [minValue]="0" [maxValue]="99999999999" [showReset]="false" [(currentValue)]="player.valueables.jewels.fifties">
        </app-numeric-value-handler>
        <app-numeric-value-handler label="100er" [minValue]="0" [maxValue]="99999999999" [showReset]="false" [(currentValue)]="player.valueables.jewels.hundreds">
        </app-numeric-value-handler>
        <app-numeric-value-handler label="1000er" [minValue]="0" [maxValue]="99999999999" [showReset]="false" [(currentValue)]="player.valueables.jewels.thousands">
        </app-numeric-value-handler>
    </div>
    <div class="EquipmentAndPotionsArea">
        <div class="PotionsArea">
            <div class="HealingPotionsArea">
                <h2>Heiltränke</h2>
                <app-numeric-value-handler label="1w6" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
                <app-numeric-value-handler label="2w6" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
                <app-numeric-value-handler label="3w6" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
            </div>
            <div class="PowerPotionsArea">
                <h2>Krafttränke</h2>
                <app-numeric-value-handler label="1w6" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
                <app-numeric-value-handler label="2w6" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
            </div>
        </div>
        <div class="EquipmentArea">
            <h2>Ausrüstung</h2>
            <textarea class="equipment-content"></textarea>
        </div>
    </div>
    <div class="MaterialArea">
        <h2>Verbrauchsmaterial</h2>
        <table class="material-table">
			<thead>
				<tr class="material-row">
					<th>Beschreibung</th>
					<th>Menge</th>
				</tr>
			</thead>
			<tbody>
				<tr class="material-row">
					<td>
						<input class="material-description">
					</td>
					<td>
						<app-numeric-value-handler label="" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
					</td>
				</tr>
				<tr class="material-row">
					<td>
						<input class="material-description">
					</td>
					<td>
						<app-numeric-value-handler label="" [minValue]="0" [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
					</td>
				</tr>
			</tbody>
        </table>
    </div>
</div>