<div class="container">
    <div class="CoinsAndJewelsArea">
        <div class="CoinsArea HorizontalFlexbox">
            <h2>Münzen</h2>
            <app-numeric-value-handler label="Gold&nbsp;&nbsp;" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                [(currentValue)]="player.currencies.coins.gold">
            </app-numeric-value-handler>
            <app-numeric-value-handler label="Silber" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                [(currentValue)]="player.currencies.coins.silver">
            </app-numeric-value-handler>
            <app-numeric-value-handler label="Kupfer" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                [(currentValue)]="player.currencies.coins.copper">
            </app-numeric-value-handler>
        </div>
        <div class="JewelArea HorizontalFlexbox">       
            <h2>Edelsteine</h2>
            <app-numeric-value-handler label="50er&nbsp;&nbsp;" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                [(currentValue)]="player.currencies.jewels.fifties">
            </app-numeric-value-handler>
            <app-numeric-value-handler label="100er&nbsp;" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                [(currentValue)]="player.currencies.jewels.hundreds">
            </app-numeric-value-handler>
            <app-numeric-value-handler label="1000er" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                [(currentValue)]="player.currencies.jewels.thousands">
            </app-numeric-value-handler>
        </div>
    </div>
    <div class="EquipmentAndPotionsArea">
        <div class="PotionsArea">
            <div class="HealingPotionsArea  HorizontalFlexbox">
                <h2>Heiltränke</h2>
                <app-numeric-value-handler label="1w6" [(currentValue)]="player.potions.healing.small" [minValue]="0" [maxValue]="99999999999" [showReset]="false">
                </app-numeric-value-handler>
                <app-numeric-value-handler label="2w6" [(currentValue)]="player.potions.healing.medium" [minValue]="0" [maxValue]="99999999999" [showReset]="false">
                </app-numeric-value-handler>
                <app-numeric-value-handler label="3w6" [(currentValue)]="player.potions.healing.large" [minValue]="0" [maxValue]="99999999999" [showReset]="false">
                </app-numeric-value-handler>
            </div>
            <div class="PowerPotionsArea HorizontalFlexbox">
                <h2>Krafttränke</h2>
                <app-numeric-value-handler label="1w6" [(currentValue)]="player.potions.strength.small" [minValue]="0" [maxValue]="99999999999" [showReset]="false">
                </app-numeric-value-handler>
                <app-numeric-value-handler label="2w6" [(currentValue)]="player.potions.strength.large" [minValue]="0" [maxValue]="99999999999" [showReset]="false">
                </app-numeric-value-handler>
            </div>
        </div>
        <div class="EquipmentArea HorizontalFlexbox">
            <h2>Ausrüstung</h2>
            <textarea class="equipment-content"></textarea>
        </div>
    </div>
    <div class="MaterialArea">
        <h2>Verbrauchsmaterial</h2>
        <table class="material-table">
            <thead>
                <tr class="material-row">
                    <th>Name</th>
                    <th>Beschreibung</th>
                    <th>Menge</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of player.items">
                    <td>
                        <input class="material-description" [(ngModel)]="item.name">
                    </td>
                    <td>
                        <textarea class="material-description" [(ngModel)]="item.description"></textarea>
                    </td>
                    <td>
                        <app-numeric-value-handler label="" [(currentValue)]="item.quantity" [minValue]="0"
                            [maxValue]="99999999999" [showReset]="false"></app-numeric-value-handler>
                    </td>
                    <td>
                        <button (click)="removeItem(item)">-</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button (click)="addItem($event)">+</button>
    </div>
</div>