<h1>Here will be the Midgard dynamic character sheet!</h1>

<app-numeric-value-handler label='HP' baseValue="30" [minValue]="0" [maxValue]="30"></app-numeric-value-handler>
<br />
<app-numeric-value-handler label='AP' baseValue='12' [minValue]="0" [maxValue]="12"></app-numeric-value-handler>
<br/>
<app-numeric-value-handler label='BB' baseValue='500' [showReset]='false' [minValue]="0" [maxValue]="99999999"></app-numeric-value-handler>
<mat-tab-group>
  <mat-tab label="Gegenstände">
    <app-numeric-value-handler label='HP' baseValue="30" [minValue]="0" [maxValue]="30"></app-numeric-value-handler>
    <br />
    <app-numeric-value-handler label='AP' baseValue='12' [minValue]="0" [maxValue]="12"></app-numeric-value-handler>
  </mat-tab>
  <mat-tab label="Zauber"> Hexdich </mat-tab>
  <mat-tab label="Beschwörungen"> Schwarzer Drache</mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
