<h1>Midgard Dynamic Character Sheet</h1>
<mat-tab-group>
  <mat-tab label="Character">
    <app-character-sheet [(player)]="player"></app-character-sheet>
  </mat-tab>
  <mat-tab label="Abenteuer Tagesbogen">
    <app-adventure-sheet [(player)]="player"></app-adventure-sheet>
  </mat-tab>
  <mat-tab label="UI Element Beispiel / Demo">
    <app-numeric-value-handler label='HP' baseValue="30" [minValue]="0" [maxValue]="30"></app-numeric-value-handler>
    <br />
    <app-numeric-value-handler label='AP' baseValue='12' [minValue]="0" [maxValue]="12"></app-numeric-value-handler>
    <br />
    Beispiel - Numerische EIngabe ohne Reset:<br />
    <app-numeric-value-handler label='BB' baseValue='500' [showReset]='false' [minValue]="0" [maxValue]="99999999"></app-numeric-value-handler>
  </mat-tab>
  <mat-tab label="Zauber"> Hier könnten die Zaubersprüche stehen </mat-tab>
  <mat-tab label="Beschwörungen"> Hier könnten die Beschwörungen stehen</mat-tab>
  <mat-tab label="Player Storage">
    <app-player-localstorage></app-player-localstorage>
  </mat-tab>
  <mat-tab label="Player Import/Export">
    <app-player-import-export></app-player-import-export>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
