<label> {{ label }}
    <input *ngIf="editMode" type="number" [(ngModel)]="value" class="editable-value"
        (ngModelChange)="onModelChange($event)">
    <input *ngIf="!editMode" type="text" [ngModel]="value" readonly="true" class="readonly-value">
</label>
<span *ngIf="isChallengeableStat && !editMode">
    <button [disabled]="!canRoll" (click)="onClick()">
        Prüfwurf
    </button>
    <br>
    <span *ngIf="!rollResultAvailable && !canRoll">
        Warte auf {{ noOfDice }}d{{ diceSides}}
    </span>
    <span *ngIf="rollResultAvailable">
        <label *ngIf="valueCheckSuccessful" class="check-success">{{ rollResult }} Prüfwurf geschafft :)</label>
        <label *ngIf="!valueCheckSuccessful" class="check-failed">{{ rollResult }} Prüfwurf fehlgeschlagen
            :(</label>
        <button (click)="onResetDiceRollResult()">X</button>
    </span>
</span>