<div class="attributes-block">
    <table>
        <tr>
            <td>
                <app-stat-value label="ST" [(value)]="player.attributes.strength" [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="GE" [(value)]="player.attributes.agility" [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="KO" [(value)]="player.attributes.constitution"
                    [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="IN" [(value)]="player.attributes.intelligence"
                    [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="ZT" [(value)]="player.attributes.magicAffinity"
                    [diceSides]="100"></app-stat-value>
            </td>
        </tr>
        <tr>
            <td>
                <app-stat-value label="AU" [(value)]="player.attributes.looks" [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="PA" [(value)]="player.attributes.charisma" [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="SB" [(value)]="player.attributes.selfControl" [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="HGW" [(value)]="player.attributes.closeQuarterCombatAffinity"
                    [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <app-stat-value label="KAW" [(value)]="player.attributes.showOfStrengthAffinitiy"
                    [diceSides]="100"></app-stat-value>
            </td>
        </tr>
        <tr>
            <td>
                <app-stat-value label="RW" [(value)]="player.attributes.reaction" [diceSides]="100"></app-stat-value>
            </td>
            <td>
                <label>B:
                    <input type="number" [(ngModel)]="player.attributes.movement">
                </label>
            </td>
            <td>
                <label>WLW:
                    <input type="number" [(ngModel)]="player.attributes.revivalAffinitiy">
                </label>
            </td>
            <td>
                <label>LP-Basis:
                    <input type="number" [(ngModel)]="player.attributes.hitPointsBase">
                </label>
            </td>
            <td>
                <label>GiT:
                    <input type="number" [(ngModel)]="player.attributes.poisonResistance">
                </label>
            </td>
        </tr>
    </table>
</div>
<div class="bonus-block">
    <table>
        <tr>
            <td>persönlicher Bonus
            </td>
            <td>
                <label>Ausdauer:
                    <input type="number" [(ngModel)]="player.bonusStats.stamina" [readOnly]="!pmodeps.editMode">
                </label>
            </td>
            <td>
                <label>Zaubern:
                    <input type="number" [(ngModel)]="player.bonusStats.magic">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Angriff:
                    <input type="number" [(ngModel)]="player.bonusStats.attack">
                </label>
            </td>
            <td>
                <label>Schaden:
                    <input type="number" [(ngModel)]="player.bonusStats.damage">
                </label>
            </td>
            <td>
                <label>Abwehr:
                    <input type="number" [(ngModel)]="player.bonusStats.defense">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>psy.ZR:
                    <input type="number" [(ngModel)]="player.bonusStats.magicResistance.psychologic">
                </label>
            </td>
            <td>
                <label>phs.ZR:
                    <input type="number" [(ngModel)]="player.bonusStats.magicResistance.physical">
                </label>
            </td>
            <td>
                <label>phk.ZR:
                    <input type="number" [(ngModel)]="player.bonusStats.magicResistance.environmental">
                </label>
            </td>
        </tr>
    </table>
</div>
<div class="defense-block">
    <table>
        <tr>
            <td rowspan="3">
                <label>
                    Rüstung:
                    <textarea [(ngModel)]="player.defenseStats.armorDescription"></textarea>
                </label>
            </td>
            <td>
                <label>RK:
                    <input [(ngModel)]="player.defenseStats.armorClass">
                </label>
            </td>
            <td>
                <label>psy.ZR:
                    <input type="number" [(ngModel)]="player.defenseStats.magicResistance.psychologic">
                </label>

            </td>
        </tr>
        <tr>
            <td>
                <label>LPV:
                    <input type="number" [(ngModel)]="player.defenseStats.hitPointLossValue">
                </label>
            </td>

            <td>
                <label>phs.ZR:
                    <input type="number" [(ngModel)]="player.defenseStats.magicResistance.physical">
                </label>
            </td>

        </tr>
        <tr>
            <td>
                <label>Abwehr:
                    <input type="number" [(ngModel)]="player.defenseStats.defense">
                </label>
            </td>

            <td>
                <label>phk.ZR:
                    <input type="number" [(ngModel)]="player.defenseStats.magicResistance.environmental">
                </label>
            </td>
        </tr>
    </table>
</div>
<div class="experience-block">

    <table>
        <tr>
            <td colspan="3">
                <label>GFP:
                    <input type="number" [(ngModel)]="player.experience.total">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>AEP:
                    <input type="number" [(ngModel)]="player.experience.common">
                </label>
            </td>
            <td>
                <label>KEP:
                    <input type="number" [(ngModel)]="player.experience.battle">
                </label>
            </td>
            <td>
                <label>ZEP:
                    <input type="number" [(ngModel)]="player.experience.magic">
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <app-numeric-value-handler label="GS:" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                    [(currentValue)]="player.currencies.coins.gold">
                </app-numeric-value-handler>
            </td>
            <td>
                <app-numeric-value-handler label="SS:" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                    [(currentValue)]="player.currencies.coins.silver">
                </app-numeric-value-handler>
            </td>
            <td>
                <app-numeric-value-handler label="KS:" [minValue]="0" [maxValue]="99999999999" [showReset]="false"
                    [(currentValue)]="player.currencies.coins.copper">
                </app-numeric-value-handler>
            </td>
        </tr>
    </table>
</div>